    <div id="about_container">
    	<h3 class="about_title">about</h3>

    	<p class="about_p">Personal gifted arts that are inspired by Yahweh's Words of Life making Jesus alive through exploring fresh views of him and others.</p>
    		
  	
    </div>