
<div id="about_container">
	<h3 class="about_title">contact</h3>

	<p class="about_p"><strong></strong> <a href="https://www.instagram.com/the_art_of_jxsh/">the_art_of_jxsh</a></p>

	<p class="about_p"><strong></strong> <a href="mailto://bladeboy20@yahoo.com.au">bladeboy20@yahoo.com.au</a></p>
</div>